.tableRow {
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 2px;
}

td {
  padding: 10px;
  font-size: 10px;
}

td:first-child {
  border-radius: 5px 0 0 5px;
}

td:last-child {
  border-radius: 0 5px 5px 0;
}

.deleteButton,
.deleteButton:focus {
  padding: 0;
  outline: none;
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicedButton,
.servicedButton:focus {
  padding: 5px 10px;
  width: fit-content;
  height: fit-content;
  outline: none;
  background-color: rgb(0, 169, 0);
  border: 1px solid rgb(0, 169, 0);
  border-radius: 6px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
}

.unservicedButton,
.unservicedButton:focus,
.unservicedButton:hover {
  padding: 5px 10px;
  width: fit-content;
  height: fit-content;
  outline: none;
  background-color: rgba(217, 217, 217, 0.202);
  border: 1px solid rgba(12, 12, 12, 0.194);
  border-radius: 6px;
  color: rgba(12, 12, 12, 0.654);
  font-size: 10px;
}

@media only screen and (min-width: 600px) {
  td {
    padding: 15px;
    font-size: 12px;
  }

  .servicedButton,
  .servicedButton:focus,
  .unservicedButton,
  .unservicedButton:focus,
  .unservicedButton:hover {
    font-size: 12px;
  }
}

@media only screen and (min-width: 992px) {
  td {
    padding: 15px 20px;
    font-size: 15px;
  }

  .servicedButton,
  .servicedButton:focus,
  .unservicedButton,
  .unservicedButton:focus,
  .unservicedButton:hover {
    font-size: 15px;
  }
}
